version: "3.8"

services:

  victim1:
    build: ./victim
    container_name: fp_victim1
    volumes:
      - /home/seed/Documents/CMPT280/Final_Project/victim1:/data/assignments:rw
    working_dir: /data/assignments
    tty: true
    stdin_open: true
    networks:
      - fp_net

  victim2:
    build: ./victim
    container_name: fp_victim2
    volumes:
      - /home/seed/Documents/CMPT280/Final_Project/victim2:/data/assignments:rw
    working_dir: /data/assignments
    tty: true
    stdin_open: true
    networks:
      - fp_net

  victim3:
    build: ./victim
    container_name: fp_victim3
    volumes:
      - /home/seed/Documents/CMPT280/Final_Project/victim3:/data/assignments:rw
    working_dir: /data/assignments
    tty: true
    stdin_open: true
    networks:
      - fp_net

  malware:
    build: ./malware
    container_name: fp_malware
    depends_on:
      - victim1
      - victim2
      - victim3

    volumes:
      # victims mounted dynamically
      - /home/seed/Documents/CMPT280/Final_Project/victim1:/data/victim1:rw
      - /home/seed/Documents/CMPT280/Final_Project/victim2:/data/victim2:rw
      - /home/seed/Documents/CMPT280/Final_Project/victim3:/data/victim3:rw

      # shared command and status folder
      - ./commands:/commands:rw

    environment:
      - VICTIM_DIRS=/data/victim1,/data/victim2,/data/victim3
      - COMMAND_DIR=/commands
      - ALLOW_HIDE=no

    working_dir: /app
    command: ["python3", "tamper.py"]
    tty: true
    stdin_open: true
    user: root
    networks:
      - fp_net

networks:
  fp_net:
    driver: bridge
